*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(95, 82, 82); */
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.container{
    width: 400px;
    height: min-content;
    background-color: white;
    padding: 28px;
    border-radius: 12px;
}

.search-box{
    width: 100%;
    min-height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    outline: 1px solid rgb(15, 15, 15);
    background-color: rgb(210, 226, 226);
    /* color: black; */
    text-transform: capitalize;
    padding: 12px 18px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: black;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}
.weather-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-body img{
    width: 60%;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temperature{
    font-size: 30px;
    font-weight:600;
    position: relative;
}
.weather-box .temperature sup{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.Weather-details{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}
.text{
    padding: 8px;
    font-weight:600;
    font-size:19px;
}
i{
    font-size:25px;
}